body {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    font-family: Arial;
}

.box {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin: 10px;
}
/* topbar med brukernavn og logg ut */
.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: #2d2d2d;
}